/* comfortaa-300 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/comfortaa-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/comfortaa-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/comfortaa-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/comfortaa-v28-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/fonts/comfortaa-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/comfortaa-v28-latin-300.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comfortaa-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/comfortaa-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/comfortaa-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/comfortaa-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/comfortaa-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/comfortaa-v28-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* comfortaa-700 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comfortaa-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/comfortaa-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/comfortaa-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/comfortaa-v28-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/comfortaa-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/comfortaa-v28-latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}


/* manrope-200 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/manrope-v1-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/manrope-v1-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/manrope-v1-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/manrope-v1-latin-200.woff') format('woff'), /* Modern Browsers */
  url('/fonts/manrope-v1-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/manrope-v1-latin-200.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-regular - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/manrope-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/manrope-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/manrope-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/manrope-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/manrope-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/manrope-v1-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-700 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/manrope-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/manrope-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/manrope-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/manrope-v1-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/manrope-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/manrope-v1-latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
}
